<div class="container-fluid">
  <div *ngIf="isModalShown" [config]="{ show: true }" (onHidden)="onHidden()" bsModal #autoShownModal="bs-modal"
    class="modal fade d-block" tabindex="-1" role="dialog" aria-labelledby="dialog-auto-name">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center pt-4">

          <div *ngIf="modalStep == 1" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-1.png" width="125">
            <h5 class="text-white mt-3">KNOW HOW IT <span class="text-blue">SPREADS</span></h5>
            <h6 class="text-white">There is currently No Vaccine to prevent <span class="text-danger">COVID-19</span>
            </h6>
            <p>The virus is thought to spread mainly from person-to-person contact
              through respiratory droplets produced when an infected person coughs or sneezes.</p>
          </div>
          <div *ngIf="modalStep == 2" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-2.png" width="125">
            <h5 class="text-white mt-3">TAKE STEPS TO <span class="text-blue">PROTECT YOURSELF</span></h5>
            <p>Frequently Wash your hands with soap and water for at least 20 seconds. Always Carry a hand sanitizer
              that contains at least 60% alcohol.
              Avoid touching your eyes, nose, and mouth with unwashed hands.</p>
          </div>
          <div *ngIf="modalStep == 3" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-3.png" width="125">
            <h5 class="text-white mt-3">AVOID <span class="text-blue">CLOSE CONTACT</span></h5>
            <p>Avoid close contact with people who are sick. Put distance between yourself and other people if
              COVID-19/Coronavirus is spreading in your community.</p>

          </div>
          <div *ngIf="modalStep == 4" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-4.png" width="125">
            <h5 class="text-white mt-3">TAKE STEPS TO <span class="text-blue">PROTECT YOURSELF</span></h5>
            <p>
              Cover your mouth and nose with a tissue when you cough or sneeze or use the inside of your elbow.
              Immediately wash your hands with soap and water for at least 20 seconds or clean your hands with a
              hand sanitizer that contains at least 60% alcohol.
            </p>
          </div>
          <div *ngIf="modalStep == 5" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-5.png" width="125">
            <h5 class="text-white mt-3">CLEAN & <span class="text-blue">DISINFECT</span></h5>
            <p>
              Clean & disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches,
              countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
              If surfaces are dirty, clean them: Use detergent or soap and water prior to disinfection.
            </p>
          </div>
          <div *ngIf="modalStep == 6" class="modal-step" [@fadeInOutAnimation]>
            <img src="assets/images/step-5.png" width="125">
            <h5 class="text-white mt-3">TEST & <span class="text-blue">DISINFECT</span></h5>
            <p>
              Clean & disinfect frequently touched surfaces daily. This includes tables, doorknobs, light switches,
              countertops, handles, desks, phones, keyboards, toilets, faucets, and sinks.
              If surfaces are dirty, clean them: Use detergent or soap and water prior to disinfection.
            </p>
          </div>
          <div class="col-12 text-center" *ngIf="modalStep!=6">
            <button (click)="nextStep()" class="btn btn-secondary waves-effect waves-light mb-4"><span>Next
              </span><i class="fa fa-arrow-right mr-1"></i></button>
          </div>
          <div class="col-12 text-center" *ngIf="modalStep==6">
            <div class="form-group">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="forDontShow" #dontShow>
                <label class="custom-control-label" for="forDontShow">Don't Show again</label>
              </div>
            </div>
            <button (click)="close(dontShow.checked)" class="btn btn-blue waves-effect waves-light mb-4"><i
                class="fas fa-times-circle mr-1"></i><span> Close</span></button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-xl-12">
      <div class="card-box">
        <div class=" col-xl-3 card-box text-center" style="margin:0 auto;width:80%">
          <h5>Outbreak Started</h5>
          <app-countup></app-countup>
        </div>
        <div class="float-md-right float-right d-md-inline d-none">
          <button type="button" class="btn btn-xs btn-lighten-blue waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('cases');">Cases</button>
          <button type="button" class="btn btn-xs btn-lighten-danger waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('deaths')">Deaths</button>
          <button type="button" class="btn btn-xs btn-lighten-success waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('recovered')">Recovered</button>
          <button type="button" class="btn btn-xs btn-lighten-warning waves-effect waves-light width-xs"
            (click)="loadMap('critical')">Critical</button>
        </div>
        <h4 class="header-title mt-0 mb-3 mt-md-0"> COVID-19 Infections in Norway <span><img
              src="../../../assets/flags/no.svg" alt="" style="width:20px;height: 20px;"></span><button type="button"
            class="btn btn-xs btn-lighten-secondary waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="showModal();" style="margin-left:3%">Introduction</button></h4>
        <div class="fa-3x text-center" [class.d-none]="!false">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="table-responsive" [class.d-none]="false">
          <div style="width: 100%; height: 400px; overflow: hidden;position: relative;">
            <app-map></app-map>
          </div>
        </div>
        <div class="float-right d-md-none d-inline">
          <button type="button"
            class="btn btn-block btn-xs btn-lighten-blue waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('cases');">Cases</button>
          <button type="button"
            class="btn btn-block btn-xs btn-lighten-danger waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('deaths')">Deaths</button>
          <button type="button"
            class="btn btn-block btn-xs btn-lighten-success waves-effect waves-light width-xs mr-md-1 mr-0"
            (click)="loadMap('recovered')">Recovered</button>
          <button type="button" class="btn btn-block btn-xs btn-lighten-warning waves-effect waves-light width-xs"
            (click)="loadMap('critical')">Critical</button>
        </div>
      </div>
    </div><!-- end col -->
    <div class="col-xl-12 col-md-6 col-6">
      <div class="card-box">
        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div>
              <app-date-slider></app-date-slider>
            </div>
          </div>

        </div>
      </div>

    </div><!-- end col -->


  </div>


  <div class="row">
    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Social Distancig Measures</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-social-distancing-slider></app-social-distancing-slider>
            </div>
          </div>

        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">% of population that washes their hands</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div style="margin:12%">

            <app-handwashing-slider></app-handwashing-slider>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">% of people that wear a face mask</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div>
            <app-wear-masks-radiobutton></app-wear-masks-radiobutton>
          </div>
        </div>
      </div>

    </div><!-- end col -->


    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Air Pollution</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div style="margin:13%; margin-left:30%">
            <app-air-pollution-radiobutton></app-air-pollution-radiobutton>
          </div>
        </div>
      </div>

    </div><!-- end col -->
    <!-- <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Choose by date</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-date-slider></app-date-slider>
            </div>
          </div>
          <div class="progress progress-bar-alt-blue progress-sm m-0">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="77" aria-valuemin="0"
              aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div>end col -->

    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Population percentage over 65 years old</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-population-over65-slider></app-population-over65-slider>
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->
    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Population percentage that smokes</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-population-smoking-slider></app-population-smoking-slider>
            </div>
          </div>

        </div>
      </div>

    </div><!-- end col -->
    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Population percentage that is obese</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-population-obese-slider></app-population-obese-slider>
            </div>
          </div>

        </div>
      </div>

    </div><!-- end col -->
    <div class="col-xl-3 col-md-6 col-6">
      <div class="card-box">
        <h4 class="header-title m-0 text-md-left text-center">Number of hospital beds per 10.000 people</h4>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            <div style="margin:12%">
              <app-hospital-beds-slider></app-hospital-beds-slider>
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

  </div>
  <div class="row">
    <div class="col-xl-4">
      <div class="card-box">
        <h4 class="header-title mb-3">Rate Distribution </h4>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="inbox-widget" [class.d-none]="isLoading">

          <div id="radarChart" style="width: 100%; height: 400px"></div>

        </div>
      </div>
    </div><!-- end col -->

    <div class="col-xl-8">
      <div class="card-box">
        <div class="float-md-right float-right d-md-inline d-none">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="enableLogarithmicScale" #enableLogarithmicScale
              (change)="loadLineChart(enableLogarithmicScale.checked)">
            <label class="custom-control-label" for="enableLogarithmicScale">Enable Logarithmic Scale</label>
          </div>
        </div>
        <h4 class="header-title mt-0 mb-3 mt-md-0">Infections History</h4>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="table-responsive" [class.d-none]="isLoading">
          <div id="lineChart" style="width: 100%; height: 400px; overflow: hidden"></div>
        </div>
      </div>
    </div><!-- end col -->


  </div>


  <div class="row">
    <!-- <div class="col-xl-4">
      <div class="card-box">
        <h4 class="header-title mb-3">Infection Distribution By Countries</h4>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="inbox-widget" [class.d-none]="isLoading">

          <div id="pieChart" style="width: 100%; height: 300px"></div>

        </div>
      </div>
    </div>end col -->

    <div class="col-xl-5">
      <div class="card-box">

        <h4 class="header-title mt-0 mb-3">Infection Rates</h4>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-xl-6 col-md-6">
                <div class="card-box widget-user bg-d">
                  <div class="text-center">
                    <div class="fa-3x text-center" [class.d-none]="!isLoading">
                      <i class="fas fa-circle-notch fa-spin m-2 text-blue"></i>
                    </div>
                    <h2 [class.d-none]="isLoading" class="font-weight-normal text-success">
                      {{(totalRecoveries / finishedCases * 100) | number:'.1-2'}}%</h2>
                    <h5>Recovery Rate</h5>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-md-6">
                <div class="card-box widget-user bg-d">
                  <div class="text-center">
                    <div class="fa-3x text-center" [class.d-none]="!isLoading">
                      <i class="fas fa-circle-notch fa-spin m-2 text-danger"></i>
                    </div>
                    <h2 [class.d-none]="isLoading" class="font-weight-normal text-danger">
                      {{(totalDeaths / finishedCases * 100) | number:'.1-2'}}%</h2>
                    <h5>Death Rate</h5>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-md-6">
                <div class="card-box widget-user bg-d">
                  <div class="text-center">
                    <div class="fa-3x text-center" [class.d-none]="!isLoading">
                      <i class="fas fa-circle-notch fa-spin m-2 text-warning"></i>
                    </div>
                    <h2 [class.d-none]="isLoading" class="font-weight-normal text-warning">
                      {{(totalCritical / activeCases * 100) | number:'.1-2'}}%</h2>
                    <h5>Critical Rate</h5>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-md-6">
                <div class="card-box widget-user bg-d">
                  <div class="text-center">
                    <div class="fa-3x text-center" [class.d-none]="!isLoading">
                      <i class="fas fa-circle-notch fa-spin m-2 text-info"></i>
                    </div>
                    <h2 [class.d-none]="isLoading" class="font-weight-normal text-info" *ngIf="fuse">
                      {{fuse.list.length}}</h2>
                    <h5>Nations Affected</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- end col -->
    <div class="col-xl-3">

      <!-- <div class="card-box text-center">

        <h5>Share with your friends, family or coworkers.</h5>
        <p>Keep them up to date with the coronavirus outbreak.</p>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
          href="https://www.facebook.com/sharer/sharer.php?u=https://coronastatistics.live"> <i
            class="fab fa-facebook"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
          href="https://twitter.com/intent/tweet?url=https://coronastatistics.live&hashtags=Covid_19,CoronavirusPandemic,coronastatistics,corona&text=Stay%20Updated%20with%20Live%20Coronavirus%20Tracker">
          <i class="fab fa-twitter"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue mr-1" target="_blank"
          href="https://vk.com/share.php?url=https://coronastatistics.live"> <i class="fab fa-vk"></i> </a>
        <a class="btn btn-icon waves-effect btn-blue"
          href="whatsapp://send?text=Coronavirus live statistics and tracker https://coronastatistics.live"
          data-action="share/whatsapp/share"> <i class="fab fa-whatsapp"></i> </a>
        <a href="https://ko-fi.com/ossamarafique" class="btn btn- waves-effect btn-danger d-block mt-1 mx-auto"> <i
            class="fas fa-coffee"></i> Buy me a coffee </a>
      </div>
    </div>end col -->

    </div>

  </div> <!-- end container -->